:root {
--white: #FFFFFF;
--black: #000000;
--very-light-pink: #C7C7C7;
--text-input-field: #F7F7F7;
--rojo: #E5252E;
--sm: 14px;
--md: 16px;
--lg: 18px;
}

body {
margin: 0;
font-family: 'Quicksand', sans-serif;
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}


.logo {
width: 150px;
margin-bottom: 48px;
justify-self: center;
display: none;
}

.title {
font-size: var( --lg);
margin-bottom: 12px;
text-align: center;
}

.subtitle {
color: var( --very-light-pink);
font-size: var( --md);
font-weight: 300;
margin-top: 0;
margin-bottom: 32px;
text-align: center;
text-decoration: none;
}


.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var( --sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input {
background-color: var( --text-input-field);
border: none;
border-radius: 8px;
height: 30px;
font-size: var( --md);
padding: 6px;
margin-bottom: 12px;
}

.primary-button {
background-color: var( --rojo);
border-radius: 8px;
border: none;
color: var( --white);
width: 100%;
cursor: pointer;
font-size: var( --md);
font-weight: bold;
height: 50px;
}

.login-button {
margin-top: 14px;
margin-bottom: 30px;
}

.image {
   width: 140px;
   height: 140px;
   background-color: #F7F7F7;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-self: center;
   margin-bottom: 20px;
}

.image img{
    width: 90px;
    height: 90px;
    
}

.Vinculo{
    color: red;
}

.Second-button{
    background-color: var( --white);
    border-radius: 8px;
    border: 1px solid var(--rojo);
    color: var( --rojo);
    width: 100%;
    cursor: pointer;
    font-size: var( --md);
    font-weight: bold;
    height: 50px;
}
@media (max-width: 640px){
    .logo{
        display: block;
    }
}

@media (max-width: 640px){
    .form-container{
        width: 90%;
    }
}