<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <!-- Google Fonts --> 
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet"> 

    <!-- Hoja de estilos --> 
    <link rel="stylesheet" href="../style.css"> 

    <!-- Favicon --> 
    <link rel="icon" type="image/svg" href="../logos/favicon.svg"> 
    
    <title>Main</title> 
</head>
<body>
    <section class="main-container">
        <div class="cards-container">
            <div class="product-card">
                <img src="https://images.pexels.com/photos/14107/pexels-photo-14107.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 15.000</p>
                        <p>Pastel De Chocolate Blanco </p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/33674422/pexels-photo-33674422.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 12.000</p>
                        <p>Brownie Italiano</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/28895993/pexels-photo-28895993.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 14.000</p>
                        <p>Panqueques Con Salsa De Chocolate Y Crema</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/28573151/pexels-photo-28573151.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Tiramisú</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/17653878/pexels-photo-17653878.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 16.000</p>
                        <p>Fresas con crema</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/16560511/pexels-photo-16560511.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 22.000</p>
                        <p>Banana split</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/28657069/pexels-photo-28657069.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 18.000</p>
                        <p>Postre Helado Bañado En Chocolate</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/31815432/pexels-photo-31815432.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 25.000</p>
                        <p>Postre Gourmet Con Helado Y Frambuesas</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/23371794/pexels-photo-23371794.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 25.000</p>
                        <p>Tarta de Frutas exóticas</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/9175909/pexels-photo-9175909.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 22.000</p>
                        <p>Pastel de frutos rojos</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/28618624/pexels-photo-28618624.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 10.000</p>
                        <p>Mini pancakes con helado</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/6732238/pexels-photo-6732238.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 16.000</p>
                        <p>Crepa de Frutos rojos</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/34636422/pexels-photo-34636422.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 18.000</p>
                        <p>Postre Gourmet Con Salsa De Chocolate</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/5638531/pexels-photo-5638531.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 25.000</p>
                        <p>Crème Brûlée Con Frutas</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/26272302/pexels-photo-26272302.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 22.000</p>
                        <p>Tarta de cereza</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1860203/pexels-photo-1860203.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 18.000</p>
                        <p>Pie de limón</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/13798154/pexels-photo-13798154.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 21.000</p>
                        <p>Flan de nueces y café</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/15174711/pexels-photo-15174711.png" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 23.000</p>
                        <p>Burbuja de pistacho</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </section>

    
</body>
</html>